{
 margin: 50%;
 padding:0;
box-sizing:border-box;
font-family:san-serif;
background color:

}

h1{
    height: auto;
    width: auto;
    background-color: aqua;
    text-decoration: none;
    text-align: center;
   
p{
    justify-content: center;
    align-items: center;
}
.nav  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    
}
.nav ul li {
    display:inline-block ;
    justify-content: space-between;
    padding: 10px;
    text-decoration:none;
    text-align: center;
    justify-content:flex-end;
}

.nav ul li a{
    text-decoration:solid;
    font-weight: lighter;
   text-align: left;
   background-color: turquoise;
}
h2{
    text-decoration: brown;
    text-align: center;
    border-image: round;
    border-radius: 100%;
}

    }